:root {
    --dk-color: #1F2937;
    --lt-color: #F9FAF8;
    --second-color: #E5E7EB;
    --btn-color: #3882F6;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Tilt+Prism&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    font-family: 'Roboto', sans-serif;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /*  */
}

/* HEADER VIEW */
header {
    height: 100vh;
    background-color: var(--dk-color);
}
/* Nav bar */
nav {
    height: 64px;
    max-width: 700px;
    margin: auto;
    padding: 8px;
    background-color: rgba(0, 255, 255, 0.555);
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;
}

.logo img {
    height: 24px;
}

.logo span {
    /* font-family: 'Tilt Prism', cursive; */
    font-size: 24px;
    color: var(--lt-color);
}

.links ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: var(--second-color);
}