:root {
    --dk-color: #1F2937;
    --lt-color: #F9FAF8;
    --second-color: #E5E7EB;
    --btn-color: #3882F6;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: 'Pacifico';
    src: local('Pacifico'), url('./fonts/Pacifico-Regular.ttf');
 }

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    font-family: 'Roboto', sans-serif;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

button {
    padding: 8px 32px;
    border: 2px solid var(--lt-color);
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: var(--lt-color);
    background-color: var(--btn-color);
}

/* HEADER VIEW */
header {
    height: 100vh;
    background-color: var(--dk-color);
}

nav, .intro {
    max-width: 1000px;
    margin: auto;
    padding: 8px;
    display: flex;
    align-items: center;
}

/* Nav bar */
nav {
    height: 64px;
}

.logo {
    margin-right: auto;
}

.logo img {
    height: 24px;
}

.logo span {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    color: var(--lt-color);
}

.links ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: var(--second-color);
}
/* Intro */
.intro-view {
    height: calc(100vh - 64px);
    display: flex;
}

.intro {
    gap: 32px;
}

.intro > * {
    max-width: 50%;
}

.intro-text {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: var(--lt-color);
}

.intro-text p {
    font-size: 18px;
    color: var(--second-color);
}

.intro-text button {
    width: fit-content;
    border: none;
}
/**/
.intro-img {
    display: flex;
}

.intro-img img {
    margin: auto;
    width: 100%;
}