/* Colour variables */
:root {
    --dk-color: #1F2937;
    --lt-color: #F9FAF8;
    --second-color: #E5E7EB;
    --btn-color: #3882F6;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: 'Pacifico';
    src: local('Pacifico'), url('./fonts/Pacifico-Regular.ttf');
 }

/* General Rules */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    font-family: 'Roboto', sans-serif;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

button {
    padding: 8px 32px;
    border: 2px solid var(--lt-color);
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: var(--lt-color);
    background-color: var(--btn-color);
}

/* HEADER VIEW */
header {
    height: 100vh;
    padding: 0 24px 24px;
    background-color: var(--dk-color);
}

nav, .intro {
    max-width: 1080px;
    margin: auto;
    padding: 8px;
    display: flex;
    align-items: center;
}

/* Nav bar */
nav {
    height: 64px;
}

.logo {
    margin-right: auto;
}

.logo img {
    height: 24px;
}

.logo span {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    color: var(--lt-color);
}

.links ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: var(--second-color);
}

/* Intro */
.intro-view {
    height: calc(100vh - 64px);
    display: flex;
}

.intro {
    gap: 32px;
}

.intro > * {
    max-width: 50%;
}

.intro-text {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: var(--lt-color);
}

.intro-text p {
    font-size: 18px;
    color: var(--second-color);
}

.intro-text button {
    width: fit-content;
    border: none;
}
/**/
.intro-img {
    display: flex;
}

.intro-img img {
    margin: auto;
    width: 100%;
}

/* BREEDS */
.breeds-view {
    min-height: 100vh;
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-color: var(--lt-color);
    justify-content: center;
    gap: 40px;
}

.breeds-view > * {
    max-width: 1080px;
    margin: 0 auto;
    padding: 8px;
}

.breeds-view h2 {
    font-size: 36px;
    font-weight: 900;
    color: var(--dk-color);
}
/**/
.breeds {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.breed {
    width: 240px;
}

.img-cont {
    height: 240px;
}

.breed img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid var(--btn-color);
    border-radius: 16px;
}

.breed:nth-child(2) img {
    object-position: 100% 0;
}

.breed:nth-child(3) img {
    object-position: 40% 0;
}

.breed:last-child img {
    object-position: 15% 0;
}

.img-text {
    text-align: center;
    font-size: 18px;
    color: var(--dk-color);
    padding: 4px;
    margin-top: 4px;
}

/* QUOTE */
.quote-view {
    min-height: 100vh;
    padding: 24px;
    display: flex;
    background-color: var(--second-color);
}

.quote-cont {
    max-width: 1080px;
    padding: 8px;
    margin: auto;
    color: var(--dk-color);
}

blockquote p {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    margin-bottom: 32px;
}

figcaption {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

/**/